.env
/.vscode

/app/*
!/app/controllers/
/app/controllers/*

!/app/models/
/app/models/*

!/app/views/
/app/views/*

!/app/views/layouts/
/app/views/layouts/*

!/app/views/partials/
/app/views/partials/*

/config/*

/database/migrations/*

/public/*
!/public/index.php

!/public/assets/
/public/assets/*

!/public/assets/css/
/public/assets/css/*

!/public/assets/js/
/public/assets/js/*

!/storage/
/storage/*

/vendors/*
!vendors/autoloader/

!*.gitkeep